.edit-modal {
    top: 15%;
    width: 50%;
    height: 65%;
    border-radius: 20px;
}

.model-content {
    text-align: center;
}

.modal-footer {
    justify-content: space-around;
}

.edit-modal-title {
    text-align: center;
}