<div id="delete-modal" class="modal delete-modal">
    <div class="modal-content">
        <h4>Task {{task.title}}</h4>
        <p>Do you want to delete the task?</p>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn flat button-action" type="button" (click)="cancelAction()">Cancel</button>
        <button class="waves-effect waves-light btn red button-action" type="button" (click)="deleteTask()">Delete Task</button>
    </div>
</div>
<div class="modal-overlay" style="z-index: 1002; display: block; opacity: 0.5;"></div>