.modal {
    top: 20%;
    width: 25%;
    height: 25%;
    display: block;
    border-radius: 20px;
}

.modal-footer {
    justify-content: space-around;
}

.modal-content {
    text-align: center;
}

.button-action {
    border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
    .modal {
      width: 75%;
    }
}